/* Color */
:root {
  --color-lightblue: #C3D0E2;
  --color-blue: #7A91BE;
  --color-pale: #EDE2DF;
  --color-black: #2E2420;
  --color-brown: #5E3432;
}
/* Default */
body {
  margin: 0;
  text-align: center;
}

ul {                                                                        
  padding: 0;                                       
}

/* Typography */
h1 {                                           
  font-size: 48px;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h3 {                                                                       
  font-size: 28px;
  margin: 0;
}

/* header */

header {
  background-color: var(--color-blue);
  color: white;
  padding: 25px;
}
/* main */
main {
  background-color: var(--color-pale);
}
/* problems */
.problem {
  color: var(--color-black);
  width: 600px;
  margin: 0 auto;
  padding: 50px 0;
}

.problems {
  display: flex;
  justify-content: space-evenly;
}

.problems div {
  padding: 10px;
  width: 50%;
  text-align: left;
}

/* solutions */
.solutions {
  text-align: left;
  display: flex;
  margin: 0 auto;
  width: 1500px;
  justify-content: space-evenly;
}

.solution {
  padding: 5px;
  width: 400px;
}

img {
    max-height: 200px; 
    object-fit: contain;
    position: absolute;
    bottom: 40px;
}

.solution-header {
  height: 120px;
  padding-bottom: 20px;
}

.solution-problem {
 height: 500px;
 display: flex;
 flex-direction: column;
 position: relative;
}

.how-it-works {

}