/* Color */
:root {
  --color-lightblue: #C3D0E2;
  --color-blue: #7A91BE;
  --color-pale: #EDE2DF;
  --color-black: #2E2420;
  --color-brown: #5E3432;
}
/* Default */
body {
  margin: 0;
}

ul {                                                                        
  padding: 0;                                       
}

/* Typography */
h1 {                                           
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {                                                                       
  font-size: 28px;
}